language: node_js
node_js:
  - '0.10'
before_script:
  - 'gem update --system'
  - 'gem install compass'
  - 'npm install -g bower grunt-cli'
  - 'bower install'
sudo: required
deploy:
  provider: heroku
  app: study-buddy-app
  api_key: "7008a6d5-ab11-487f-ac8a-5a350ecdbb1d"
  skip_cleanup: true
